    <script
      async src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initAutocomplete&libraries=places&v=weekly"></script>
<h1>test</h1>
    <input
      id="pac-input"
      class="controls form-control "
      type="text"
      placeholder="Search Box"
    />
    <div id="map"></div>

