/* 初期化用 */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
}


/* マップ用のCSS */
.map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
}